.dicAccordionSpace{
    margin-top: 20px;
}
.title{
    text-align: center;
}
.title span:hover{
    color: var(--blue);
    cursor: pointer;
} 
.noTestsDrivers{
    margin-top: 20px;
    text-align: center;
}
.buttonAvaliar{
    height: 30px;
}
.avaliarTitle {
    width : 100%;
    text-align : center;
}.containerBtns {
    display : flex;
    height : 10%;
    justify-content : space-evenly;
}.btn {
    display : flex;
    align-items : center;
}

.darNotaAvaliacao{
    cursor: pointer;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.stars{
    height: 90%;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.stars > ul {
    display: flex;
    width: 110%;
    list-style: none;
    justify-content: space-around;
    margin-left: -10%;
    
}


i{
    font-size: 50px;
    color: rgb(199, 169, 0);
}

i:hover{
    color: yellow;
}