

.conteinerCentralAgendar {
   display: flex;
   justify-content: space-around;
   background-color: var(--blue);
   width: 50vw;
   border-radius: 7px;
   flex-direction: column;
   align-items: center;
   min-height: 88vh;
}

.containerDadosCarro{
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: center;
}


.divInput1{
   display: flex;
   flex-direction: row;
   width: 70%;
   align-items: center;
   justify-content: space-between;
}

.divInput1 > label{
   width: 45%;
}
.divInput1 > label > input, .divInput1 > label > select {
   height: 100%;
}

.containerDadosHorario{
   width: 100%;
   display: flex;
   align-items: center;
   flex-direction: column;
}
.semCarrosDisponiveis{
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(121, 115, 115, 0.7);
   position: fixed;
   flex-direction: column;
}