.Menu{
    height: 10vh;
    width: 100%;
    background-color : var(--blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 80px;
    padding-left: 80px;
}

.logo{

    width: 200px;
}

.divMenuDireita{
    min-width: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divMenuDireita > a {
    margin: 10px;
}