.containerMenuFuncionario{
    height: 40vh;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
    text-align: center;
    padding-top: 5vh;
    border-top: 1px rgba(106, 104, 104, 0.7) solid;
    margin-top: 8vh;
    flex-wrap: wrap;
}

.containerMenuFuncionarioAreaDoAdmin{
    height: 85vh;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
    text-align: center;
    padding-top: 5vh;
    border-top: 1px rgba(106, 104, 104, 0.7) solid;
    margin-top: 8vh;
    flex-wrap: wrap;

}

.containerMenuFuncionarioAreaDoAdmin > div {
    margin: 5px;
}

.titleContainerMenuFuncionario{
    margin-top: -9vh;
    position: absolute;
    background-color: white;
}
.containerAreaDoAdmin{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  rgba(121, 115, 115, 0.7);
    position: fixed;
    z-index: 90;
}

.divInfoArea{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    text-align: center;
    border-radius: 5px;
}

.divBtnsAreaAdmin{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}

