.Menu{
    height: 10vh;
    width: 100%;
    background-color : var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.logo{

    width: 200px;
}